each dingdanitem in dingdanList
  tr
    td #{dingdanitem.place}
    td #{dingdanitem.starttime}
    td #{dingdanitem.ddrenshu}
    td #{dingdanitem.allprice}
    td #{dingdanitem.time}
    td
      button.btn.btn-primary.btn-xs.btn-getThisDingDanUserInfo(data-userid= dingdanitem.userid)
        i.icon-pencil 查看订单用户信息
      - if (state == 0)
        button.btn.btn-success.btn-xs.btn-clDingDan(data-dingdanid= dingdanitem.id)
          i.icon-ok 处理订单
